@import "../../styles/index";

.project-pop__search-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  overflow-y: auto;
  overflow-x: hidden;

  .project-pop__user-add {
    position: relative;
    display: flex;
    flex-direction: column;

    &__input {
      margin-bottom: 0;
    }

    .project-pop__user-list {
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      width: 50%;
      max-height: 15vh;
      overflow-y: auto;
      background-color: $background-color;
      border: 1px solid $border-color;
      border-radius: 5px;
      @include box-shadow($box-shadow);
      z-index: 101;

      .project-pop__user-item {
        padding: 10px;
        border-bottom: 1px solid $border-color;

        &:last-child {
          border-bottom: none;
        }

        .project-pop__select-button {
          padding: 8px 12px;
          border: 1px solid $border-color;
          border-radius: 5px;
          color: $text-color;
          cursor: pointer;

          &:hover {
            @include sakura-border;
          }

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .project-pop__selected-members {
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin-top: 1rem;

    &.dark {
      @include darkTheme;

      span {
        color: $text-color;
      }
    }

    &.light {
      @include lightTheme;
    }

    &__text {
      margin-bottom: 10px;
    }

    .project-pop__selected-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 1rem;
    }

    .project-pop__selected-member {
      display: flex;
      align-items: center;
      background-color: $secondary-light-color;
      padding: 8px;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      max-height: 50px;

      span {
        margin-right: 10px;
      }

      .project-pop__delete-button {
        background-color: transparent;
        border: none;
        color: $primary-color;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;

        &:hover {
          color: darken($primary-color, 10%);
        }
      }
    }
  }
}

.delimiter {
  @include delimiter;
}

@media (max-height: 450px) {
  .project-pop__search-container {
    height: 40vh;

    .project-pop__user-add {
      .project-pop__user-list {
        max-height: 30vh;
        z-index: 1100;
      }
    }

    .project-pop__selected-members {
      height: 30vh;
    }
  }
}

@media (max-width: 768px) {
  .pulse-form {

    label {
      font-size: 0.8rem;
    }
  }

  .pulse-form-input {
    font-size: 0.8rem;
    padding: 5px;
  }

  .project-pop__search-container {
    height: 15vh;
  }

  .project-pop__search-container .project-pop__selected-members {
    p {
      font-size: 0.7rem;
    }
  }

  .project-pop__search-container .project-pop__selected-members .project-pop__selected-member {
    font-size: 0.7rem;
    padding: 2px;
    margin-top: 0.1rem;
  }

  .project-pop__search-container .project-pop__user-add .project-pop__user-list .project-pop__user-item .project-pop__select-button {
    font-size: 0.7rem;
  }
}