@import "../../styles/index";

.dragAvatar {
  border: 2px dashed $primary-color;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  height: 25vh;
  width: 40vh;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: border-color 0.3s ease,
  box-shadow 0.3s ease;
  position: relative;

  &:hover {
    border-color: lighten($primary-color, 10%);
    box-shadow: $box-shadow, -($box-shadow);
  }

  .placeholder {
    color: darken($primary-color, 20%);
    font-size: 2rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .filePreview {
    width: 35vh;
    height: 20vh;
    max-width: 95%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input {
    display: none;

    &:hover {
      background-color: lighten($primary-color, 5%);
    }
  }
}

@media (max-width: 768px) {
  .dragAvatar {
    width: 30vh;
    height: 20vh;
    max-height: 95%;

    .placeholder {
      font-size: 1.2rem;
    }

    .filePreview {
      width: 25vh;
      height: 15vh;
      object-fit: contain;
    }
  }
}

@media (max-height: 450px) {
  .dragAvatar {
    height: 40vh;
    width: 80vh;

    .placeholder {
      font-size: 1.2rem;
      word-break: break-word;
    }

    .filePreview {
      height: 35vh;
      width: 75vh;
      object-fit: contain;
    }
  }
}

