@import "../../styles/index";

.dragAvatar {
  border: 2px dashed $primary-color;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  height: 25vh;
  width: 40vh;
  border-radius: 10px;
  margin: 0 auto;
  transition: border-color 0.3s ease,
  box-shadow 0.3s ease;

  &:hover {
    border-color: lighten($primary-color, 10%);
    box-shadow: $box-shadow;
  }

  .placeholder {
    color: darken($primary-color, 20%);
    font-size: 2.2rem;
    text-align: center;
    margin-top: 5rem;
  }

  img {
    width: 40vh;
    height: 25vh;
    object-fit: cover;
  }

  input {
    display: none;

    &:hover {
      background-color: lighten($primary-color, 5%);
    }
  }
}

@media (max-width: 768px) {
  .dragAvatar {
    width: 30vh;

    .placeholder {
      font-size: 1.5rem;
    }
  }

  .filePreview {
    max-width: 30vh;
  }
}

@media (max-height: 450px) {
  .dragAvatar {
    height: 40vh;
    width: 80vh;

    img {
      width: 80vh;
      height: 40vh;
    }
  }
}
