@import "../../styles/index";

.pulse-form-date {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-family: $font-family;
  transition: border-color 0.3s ease,
  box-shadow 0.3s ease;

  &:focus {
    outline: none;
    border-color: $sakura-border-color;
    @include box-shadow($box-shadow);
  }

  &:active {
    border-color: $sakura-active-border-color;
  }

  &::-webkit-calendar-picker-indicator {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(180deg);
    border: 1px solid $border-color;
  }
}
