@import "../../styles/index";

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;

  .switcher-toggle {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.en-active {
      background-color: $pastel-light-blue;
    }

    &.ua-active {
      background-color: $pastel-brick-orange;
    }

    .label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $text-muted;
      font-weight: bold;
    }
  }
}