@import "../../styles/index";

.project-pulse-select {
  @include base-input-styles;

  & option {
    padding: 10px;

    &:hover {
      background-color: lighten($background-color, 5%);
    }

    &:checked {
      background-color: darken($background-color, 5%);
    }
  }
}

@media (max-width: 768px) {
  .project-pulse-select {
    font-size: 0.8rem;
    padding: 5px;
  }
}
