@import "../../styles/index";

.logo-fallback {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $background-color;

  &__customSpinner {
    position: relative;
    width: 25vh;
    height: 25vh;
    @include flex-center;
    border-radius: 50%;
    transform: rotateX(0deg) rotateZ(0deg);
    transition: transform 1s ease-in-out,
    background 2s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 80%;
      border-radius: 50%;
      background: $radial-gradient;
      background-size: 250% 250%;
      background-position: center;
      animation: rainbowBall 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
      z-index: 2;
      filter: blur(1px) brightness(1.1);
      opacity: 0.8;
      transform: rotateZ(0deg);
    }
  }

  &__title {
    margin-top: 4rem;
    font-size: 5rem;
    font-family: $font-family;
    color: $primary-color;
    text-align: center;
    position: relative;
    animation: fadeOut 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  }
}

@keyframes rainbowBall {
  0% {
    background-position: center;
    transform: rotateZ(0deg);
  }
  50% {
    background-position: 100% 100%;
    transform: rotateZ(360deg);
  }
  100% {
    background-position: center;
    transform: rotateZ(0deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
